{% extends "base.html" %}

{% block content %}
<div class="container  ">
    <h3 class="text-center p-5"> Transactions Details of {{ item.name }} || Total Sale Cost :{{total_cost}} </h3>

    {% if all_transactions %}
    <table class="table">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Quantity</th>
                <th>Selling Price</th>
                <th>Cost</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in all_transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.selling_price }}</td>
                <td>${{transaction.cost }}</td>
                <td>{{ transaction.transactiondttm }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p class="text-center">No transactions available.</p>
    {% endif %}
</div>



{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/item_details.css' %}">
{% endblock %}