.create_form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 600px;
  padding-top: 25px;
  gap: 20px;
}

.row_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label label {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
}

.content input {
  width: 300px;
  height: 49px;
  background: var(--bg-light, #f9f6f6);
  border: none;
}

#id_selling_price {
  width: 100%;
}

.create_item_btns {
  width: 100px;
  height: 35px;
  color: var(--white-100, #fff);
  border: none;
  border-radius: 4px;
  background: var(--cherry, #ff6464);
  margin-right: 20px;
}

.cancel {
  background: var(--bg-light, #f9f6f6);
  color: #555555;
}
