{% extends "base.html" %}

{% block content %}
<div class=" container">
    <h2>Confirmed Orders for {{ item.name }}</h2>

    {% if confirmed_orders %}
    <table class="orders-table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in confirmed_orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.item.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>${{ order.cost }}</td>
                <td>{{ order.orderdttm }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No confirmed orders for {{ item.name }}.</p>
    {% endif %}
</div>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order_history.css' %}">
{% endblock %}