/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(
    --header-linear,
    linear-gradient(
      90deg,
      #ededff 0%,
      rgba(243, 232, 243, 0.63) 36.53%,
      #fddfdf 100%
    )
  );
  max-height: 55px;
}

.nav_left {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.nav_right {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  cursor: pointer;
}

li {
  cursor: pointer;
}

.nav_link:active {
  color: red;
}

.nav_link {
  text-decoration: none;
  color: inherit;
}
